// Body
$body-bg: #fbfbfb;;
$body-color: #2d3033;

// Typography
$font-family-sans-serif: 'Archivo Narrow', sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// color temas
$primary: #d67723;
$secondary: #080808;
$info: #3e83bb;
$warning: #b5b002;
// $danger: #f93d38;
$danger: #b12b27;
$success: #25a95d;

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);

