// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './../../public/css/jquery.toast.min';
@import './../../public/css/nprogress';
@import './../../public/css/bootstrap-select.min';

.header {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .marca {
        color: #fbfbfb;
    }
}

.prestamo {
    padding: 0.7rem 0.4rem;
    border: solid 1px lightgray;
    border-radius: 0.3rem;

    .datos {
        display: flex;
        justify-content: space-between;

        .dias-restantes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span.numero-dias {
                font-size: 5rem;
                line-height: 1;
            }
        }

        .acciones {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
    }
}

.navegacion {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    a.btn-navegacion {
        padding: 0.2rem 0.5rem;
        text-decoration: none;
    }
}

.prestamo-vistazo-rapido {
    padding: 0.3rem 0.4rem;
    border: solid 1px lightgray;
    border-radius: 0.3rem;

    .datos {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .nombre-libro {
            height: 2rem;
            overflow: hidden;
        }

        .dias-restantes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 0.6rem;
            padding: 0 0.4rem;

            span.numero-dias {
                font-size: 2rem;
                line-height: 1;
            }
        }

        .acciones {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            a {
                line-height: 0.5rem;
            }
        }
    }
}

.atajo {
    height: 5rem;
    width: 7rem;
    border: solid 1px #b9b6b4;
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcdad8;
}

.atajo:hover {
    background: #b5b3b0;
}

.jq-toast-loader,
.jq-toast-loaded {
    display: none !important;
}

